<div class="d-flex justify-content-between align-items-center mt-2 mb-2">
  {{link-to "< All Sets" "home" class="btn btn-jbs-dark fs-16"}}
</div>

<div class="card big-set-card">
  <div class="card-body">
    <div class="row mb-3">

      <div class="col-lg-8">
        <div class="set-video-wrapper">
          <iframe src={{set.embeddedSrc}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-lg-4 d-flex flex-column justify-content-between">
        <div>
          <img class="set-theme-logo" alt="theme-logo" src={{set.theme.logoUrl}}>
          <h2 class="set-card-header">{{set.name}}</h2>
          <p class="set-card-subheader m-0">{{set.theme.name}} - {{set.setId}}</p>
        </div>
        <div class="element-delimiter delimiter-bottom"></div>
        <div class="card-element">
          <p class="element-prop">{{format-money set.price}}</p>
          <p class="element-label">Price</p>
        </div>
        <div class="element-delimiter delimiter-bottom"></div>
        <div class="card-element">
          <p class="element-prop">{{set.pieces}}</p>
          <p class="element-label">Pieces</p>
        </div>
        <div class="element-delimiter delimiter-bottom"></div>
        <div class="card-element">
          <p class="element-prop">{{set.age}}</p>
          <p class="element-label">Ages</p>
        </div>
      </div>

    </div>

    {{#if set.description}}
      <div class="row">
        <div class="col">
          <p class="element-label">My Thoughts</p>
          <p class="m-0">{{set.description}}</p>
        </div>
      </div>
    {{/if}}
  </div>

  {{#if set.affiliateLink}}
    <div class="card-footer">
      <div class="row justify-content-center pb-2">
        <div class="col-auto">
          <a href={{set.affiliateLink}} target="_blank" rel="noopener" class="btn btn-orange purchase-button wide-button" disabled={{setUnavailable}}>Buy This Set from shop.LEGO.com</a>
        </div>
      </div>
    </div>
  {{/if}}
</div>
