<div class="card card-borderless card-modal {{animation}} {{size}}" data-test-confirm-modal id={{id}}>

  <div class="card-header pt-0 pr-0">
    <div class="modal-title left">
      <h5>{{properties.title}}</h5>
    </div>
    <div class="modal-exit right">
      <a {{action "cancel"}}><i class="fa fa-times"></i></a>
    </div>
  </div>

  <div class="card-block">
    <div class="form-row">
      <div class="form-group col-4">
        <label for="setId">Set Id</label>
        {{input type="text" class="form-control" id="setId" placeholder="Set Id" value=model.setId}}
      </div>
      <div class="form-group col-8">
        <label for="name">Name</label>
        {{input type="text" class="form-control" id="name" placeholder="Name" value=model.name}}
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      {{textarea class="form-control" placeholder="Set Description" id="description" rows="6" value=model.description}}
    </div>
    <div class="form-row">
      <div class="form-group col-4">
        <label for="pieces">Piece Count</label>
        {{input type="number" class="form-control" id="pieces" placeholder="Piece Count" value=model.pieces}}
      </div>
      <div class="form-group col-4">
        <label for="age">Ages</label>
        {{input type="text" class="form-control" id="age" placeholder="Recommended Ages" value=model.age}}
      </div>
      <div class="form-group col-4">
        <label for="price">Price</label>
        {{input type="text" class="form-control" id="price" placeholder="Price" value=model.price}}
      </div>
    </div>
    <div class="form-group">
      <label for="imgUrl">Image Url</label>
      {{input type="text" class="form-control" id="imgUrl" placeholder="Image Url from link" value=model.imgUrl}}
    </div>
  </div>

  <div class="card-footer d-flex justify-content-end">
    {{#unless cancelHidden}}
      <button class="btn btn-secondary mr-2" {{action "cancel"}} data-test-cancel>{{or cancelText "Cancel"}}</button>
    {{/unless}}
    {{#unless confirmHidden}}
      <button class="btn btn-primary" {{action "submit"}} disabled={{disableButton}} data-test-submit>
        <i class="{{if progress "fal fa-spinner"}}"></i>&nbsp;{{properties.confirmText}}&nbsp;
      </button>
    {{/unless}}
  </div>

</div>
