<td>{{set.name}}</td>
<td>{{set.setId}}</td>
<td>{{set.pieces}}</td>
<td>{{set.age}}</td>
<td>{{format-money set.price}}</td>
<td>{{set.theme.name}}</td>
<td>{{boolean-checkmark checked=set.hasImage}}</td>
<td>{{boolean-checkmark checked=set.hasVideo}}</td>
<td>{{boolean-checkmark checked=set.isFavorite}}</td>
<td>{{boolean-checkmark checked=set.isHidden}}</td>
<td class="text-right">
  <a role="button" class="ml-2" {{action (action this.onDelete set) bubbles=false}}>Delete</a>
</td>
