<td>{{set.setId}}</td>
<td>{{set.name}}</td>
<td>{{set.pieces}}</td>
<td>{{set.age}}</td>
<td>{{set.price}}</td>
<td>{{format-date set.createdAt}}</td>
<td class="text-right">
  <a role="button" class="ml-2" {{action (action this.onDelete set) bubbles=false}}>Delete</a>
</td>
