<h1>ADMIN MANAGE TEMPLATE</h1>
<h3>Set Count: {{model.length}}</h3>

<div class="d-flex align-items-center justify-content-end mb-2">
  <button class="btn btn-primary" {{action (mut isCreateSetModalHidden false)}}>Add Set</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Set Id</th>
      <th>Name</th>
      {{!-- <th>Description</th> --}}
      <th>Pieces</th>
      <th>Age</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |set|}}
      <tr>
        <td>{{set.setId}}</td>
        <td>{{set.name}}</td>
        <td>{{set.pieces}}</td>
        <td>{{set.age}}</td>
        <td>{{set.price}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>


{{edit-set-modal
  isHidden=isCreateSetModalHidden
  properties=selectedSetProperties
  animateClass="modal-animate"
}}