<div class="d-flex justify-content-between align-items-center">
  <h1>ADMIN MANAGE TEMPLATE</h1>
  {{#if session.isAuthenticated}}
    <button class="btn" {{action "invalidateSession"}}>Logout</button>
  {{/if}}
</div>

<h3>Set Count: {{model.length}}</h3>

<div class="d-flex align-items-center justify-content-end mb-2">
  <button class="btn btn-primary" {{action (mut isEditSetModalHidden false)}}>Add Set</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Set Id</th>
      <th>Name</th>
      <th>Pieces</th>
      <th>Age</th>
      <th>Price</th>
      <th>Created</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |set|}}
      {{set-row
        set=set
        onEdit=(action "openEditSetModal")
        onDelete=(action "openDeleteSetModal")
      }}
    {{/each}}
  </tbody>
</table>


{{edit-set-modal
  isHidden=isEditSetModalHidden
  properties=selectedSetProperties
  submitAction=(action selectedSetProperties.submitAction)
  animateClass="modal-animate"
  size="modal-large"
}}

{{#modal-confirm
  isHidden=isDeleteSetModalHidden
  title=(concat "Delete " setToDelete.name)
  confirmText="Delete"
  animateClass="modal-animate"
}}
  <p class="m-0">Are you sure you want to delete this set?</p>
{{/modal-confirm}}
